# Dépendances
node_modules/

# Variables d'environnement
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/

# Couverture de tests
coverage/

# IDE
.vscode/
.idea/